header{

}
h1{

}
h3{
    
}

.container{

}

.page-header{
    color:#4aaaa5

}

#name-banner{
    color:white;
    background-color: #4aaaa5;
    padding:20px;
}

#menu-bar{

}

#bio-image{

}

#main-bio{

}

p{

}

section{

}

footer{

}