header{

}
h1{
    font-family: Georgia, "Times New Roman", Times, serif;

}
h3{
    
}

.container{
    border-style: solid;
    border-width: 1px;
}

.article-header{
    color:#4aaaa5;
    clear:both;

}

#name-banner{
    color:white;
    background-color: #4aaaa5;
    padding:20px;
    float: left;
}

#menu-bar{
    float: right;
    padding: 20px, 20px;
}

#bio-image{
    width:200px;
}

#main-bio{

}

p{

}

section{

}

footer{

}